<div class="container text-center">
    <h1>About Page</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, 
    dolores, non, perferendis neque architecto veritatis est repudiandae 
    doloribus nulla officia expedita voluptatum voluptatem eum quibusdam 
    impedit rem modi facere corporis.  
    </p>
</div>